		<div class="container">
			<h3>Previsão do tempo para {{previsoes.city.name}}</h3>
			<hr/>
		</div>

		<div class="container text-center">
			<div ng-repeat="previsao in previsoes.list | limitTo:5">
				<div class="col-xs-4">
				<div class="panel panel-primary">
				    <div class="panel-heading">{{parseDate(previsao.dt) | date: 'dd/MM/yyyy'}}</div>
				    <div class="panel-body">
				        <div>
				            <p class="lead">
				                <img ng-src="{{pegaImagemIcone(previsao.weather[0].icon)}}" />
				                {{previsao.temp.day | number:1}}&#176;C {{useDayForecast.weather[0].main}}
				            </p>
				            <p>
				                Máxima: {{previsao.temp.max}}&#176;C&nbsp;&#126;&nbsp;
				                Mínima: {{previsao.temp.min}}&#176;C
				            </p>
				        </div>
				    </div>
				    <div class="panel-footer">
				        <small>
				            Dia: {{previsao.temp.day}}&#176;C&nbsp;&#126;&nbsp;
				            Noite: {{previsao.temp.night}}&#176;C&nbsp;&#126;&nbsp;
				            Umidade: {{previsao.humidity}}%
				        </small>
				    </div>
				</div>
				</div>
			</div>
		</div>